body {
  margin: 0;
  background-color: #c7f0db;
  font-family: "Roboto", sans-serif;
}

/*----------PICTURE----------------------*/
.top-container {
  background-color: #c7f0db;
  height: 400px;
}
.banner {
  height: 280px;
  background-color: #464159;
}
.profile_pic_container {
  position: absolute;
  top: 30px;
}

#profile_img {
  padding: 30px;
  border-radius: 50%;
}

/*----------PROFILE----------------------*/
.profile_container {
  /*background-color: #c7f0db;*/
  margin-left: 1rem;
  border: 0;
  width: 600px;
  /*
  display: inline-block;
  position: relative;
  left: 0;
  bottom: 80px;
  */
  position: absolute;
  left: 360px;
  top: 70px;
}
#name {
  margin: 0;
  font-size: 3rem;
  color: #eeeeee;
}
#qualification {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #6c7b95;
}
#profile_statement {
  margin: 0;
  color: #66bfbf;
}
.introduction {
  /*display: inline-block;*/
  margin: 0.5rem 0;
  color: #66bfbf;
  /*background-color: #c7f0db;*/
}

.social-media {
  color: #66bfbf;
}

/*----------HORIZONTAL RULES----------------------*/
hr {
  /*  background-color: #66bfbf;*/
  border-style: none;
  border-color: white;
  border-width: 1px;
  /* height: 0; */
  width: 100%;
}

/*-----------PROFILE SUMMARY---------------------*/

.profile_summary {
  margin-left: 50px;
  line-height: 175%;
  width: 60%;
}

.skills {
  position: absolute;
  right: 30px;
  top: 416px;
  width: 30%;
  line-height: 175%;
}

.work-experience {
  margin: 0 0 10px 50px;
  padding: 0;
  width: 60%;
}

.growth-path {
  margin-left: 50px;
  width: 60%;
}

/*---------TAG SELECTORS------------------------*/
h1 h3 {
  color: #464159;
}
/* h3 {
  color: #464159;
} */

p {
  color: #6c7b95;
  font-size: small;
}
.pro {
  text-decoration: underline;
}

ul {
  color: #393e46;
}
